#root {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 2rem;
  max-width: 1480px;
  width: 100%;
}

.cv-container {
  margin-top: 3rem;
  width: 100%;
  
}

.forms {
  width: 60%;
}

.general-info {
  background: darkblue;
  color: aliceblue;
  text-align: center;
  padding: 1rem 4rem;
}

.general-info > h1 {
  margin: 0;
  font-size: 2rem;
}